project-test.pem
*.pem
terraform.tfstate
*.hcl
/.terraform
terraform.tfstate
terraform.tfstate.backup
/terraform_project/.terraform
terraform_project/terraform.tfstate.backup
terraform_project/terraform.tfstate
/terraform/.terraform
terraform/.terraform.tfstate.lock.info
app/node_modules
k3s.yaml